.footer
  margin 0 auto
  width 97%
  
.footer-top
  position relative
  
  display flex
  flex-wrap wrap 
  justify-content center
  align-items center
  min-height 130px
  
  border-bottom 1px dotted #6a6a77

.logo__text--footer
  color #37374a

.nav__link--footer
  color #6a6a77
  font-weight 700
  &:hover,
  &:focus
    color #756edc
.btn--footer
    background-color #6e45e2
    border 1px solid transparent
    color #fff
    transition background-color .5s, border .5s
    &:hover,
    &:focus
      background-color #fff
      color #c2c9db
      border-color #c2c9db

.footer-bottom
  display flex
  min-height 75px
  justify-content space-between
  align-items center
  
.copyright
  font-size rem(14)
  color #6a6a77
  justify-content center

.social-box
  width 110px
  display inline-flex
  justify-content space-between
.social__ico
  svg
    height 18px
    width 18px
    fill #b4b4bb
.icon-facebook
  &:hover,
  &:focus
    fill #3b5999
.icon-twitter
  &:hover,
  &:focus
    fill #55acee
.icon-google
  &:hover,
  &:focus
    fill #dd4b39
.icon-instagram
  &:hover,
  &:focus
    fill #e4405f
      
    