@media (max-width: 1199px) 
  html
    font-size 14px
  

@media (max-width: 991px) 
  // html
  //   font-size 10px

@media (max-width: 750px) 

//------- header
  .mobile-nav-icon
    display block
    position absolute
    right 20px
        
  .header-nav-list
    display none
    margin 0
    position fixed
    z-index 2
    right 0
    top 0
    height 100vh
    width 100vw
    background-color #6e45e2

    flex-direction column
    align-items center
    justify-content flex-start
    padding-top 10vh
       
  .nav__link
      font-size 16px
  .m-btn--header
    display none  
  .mobile-nav-icon--active
    display block
    position fixed
    top 65px
    right 30px
    z-index 4
    span:nth-child(1)
      top 10px
      transform rotate(45deg)
    span:nth-child(2)
      width 0
      opacity 0   
    span:nth-child(3)
      top 10px
      transform rotate(-45deg)  
  .arrow-down
    

  .js-header-nav-list
    display flex
  
  .pricing
    padding-bottom 0
    
  .pricing-cards
    flex-direction column
    align-items center
    
  .pricing-card
    padding-top 30px
    padding-bottom 30px
    margin-right 0
    margin-bottom 30px
  .nav__list
    padding-right 0
  .nav__list--footer
    margin 0
  .footer-bottom
    margin 17px 0
    flex-direction column
    justify-content center
    text-align center
  .copyright
    margin-bottom 17px

    
