// ----------------------------section.pricing

row = 1424

.container
  margin 0 auto
  max-width 1424px
  width 97%
  
.pricing
  position relative
  padding rem(110) 0 rem(100)
  color #4f4f6f
  background-color #f9fafc
  
.pricing-top
  margin-bottom rem(100)
  text-align center
  &__caption
    display inline-flex
    
    font-size rem(14)
    letter-spacing 0.05em
    text-transform uppercase
    font-weight 800
    
    color #9fa4af
    
    &:before,
    &:after
      display inline-flex
      margin auto (19/14)em

      content ''
      height 1px
      width (24/14)em
      background-color #6e45e2
        
  &__heading
    margin (20/86)em 0 (30/86)em

    font-size rem(60)
    letter-spacing -0.04em

    font-weight 700
    line-height 1

  &__description
    margin 0 auto
    max-width 390px
    
    font-size rem(16)
    line-height rem(28)
    font-weight 400 
    
    color #9fa4af
  
.pricing-cards
  display flex
  padding 0
  
  justify-content flex-start
  
col = 440

.pricing-card
  display flex
  flex-direction column
  margin-right (50*100/row)%
  padding (58*100/row)% (70*100/row)% (68*100/row)%
  
  max-width 440px
  width 100%
  list-style none
  
  text-align center
  
  border 1px solid #d7dbe8
  border-radius 30px
  
  background-color #fff
  
  transition box-shadow .5s
  &:last-child
    margin-right 0
  &:hover
    box-shadow 0px 0px 81.88px 10.12px rgba(204, 204, 223, 0.71)
  &__img
    width rem(120)
    height rem(120)
    margin 0 auto
    margin-bottom rem(40)
    img
      width 100%
      height auto
  &__title
    margin-bottom rem(14)
    font-size rem(14)
    font-weight 700 
    letter-spacing 0.05em
    color #9fa4af
  &__price
    margin-bottom rem(25)
    display inline-block
    
    font-size rem(60)
    letter-spacing -0.04em
    font-weight 600
    line-height 1
    &-before
      font-size rem(16)
      letter-spacing -0.04em
      font-weight 500
      
      vertical-align super
    &-after
      font-size rem(18)
      letter-spacing -0.04em
      font-weight 400   
  &__description
    margin-bottom rem(50)
    font-size rem(16)
    line-height rem(28)
    font-weight 400
    flex-grow 1
    
    color #9fa4af
    
  &__btn
    padding (19/12)em (54/12)em
    background-color #fff
    color #c2c9db
    align-self: center
    
    box-shadow 0px 0px 18.69px 2.31px rgba(204, 204, 223, 0.5)
    border 1px solid #D7DBFF
    
    transition background-color .5s, border .5s
    &:hover
      background-color #6e45e2
      border 1px solid #6e45e2
      
      color #fff
      
.calltoaction
  position relative
  padding rem(170) 0 rem(185)
  color #fff
  
  text-align center
  
  background url('../img/general/calltoaction_bg.jpg') center 100px no-repeat
  background-size 1381px auto
  
  &-overlay
    position absolute
    left 0
    top 0 
    opacity .8
    // z-index 0
    
    width 100%
    height 100%
    background-image linear-gradient( 150deg, rgb(136,211,206) 0%, rgb(110,69,226) 100%)
    background-image -webkit-linear-gradient( 150deg, rgb(136,211,206) 0%, rgb(110,69,226) 100%)
  &__caption 
    position relative
    z-index 1
    
    font-size rem(14)
    letter-spacing 0.05em
    text-transform uppercase
    font-weight 800
  &__heading   
    position relative
    // z-index 1
    
    margin (19/86)em 0 (30/86)em

    font-size rem(60)
    letter-spacing -0.04em

    font-weight 700
    line-height 1
  &__btn
    padding 0
    display inline-block
    margin-right 10px
    margin-bottom 10px
    position relative
    z-index 1
    
    width rem(190)
    height rem(50)
    line-height rem(50)
    background-color #fff
    color #c2c9db
    align-self: center
    
    border 1px solid transparent
    
    transition background-color .5s 
    &:hover
      background-color #6e45e2
      border 1px solid transparent
      
      color #fff
      